<%= form_with(model: article, as: 'article', remote: true) do |form| %>
  <table class='table'>
    <tr>
      <div class="field">
        <th> <%= form.label :title %> </th>
        <td> <%= form.text_field :title, size: 40 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :subtitle %> </th>
        <td> <%= form.text_field :subtitle, size: 80 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :url %> </th>
        <td> <%= form.text_field :url, size: 80 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :cover_image_url %> </th>
        <td> <%= form.text_field :cover_image_url, size: 80 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :video_url %> </th>
        <td> <%= form.text_field :video_url, size: 80 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :abstract %> </th>
        <td> <%= form.text_area :abstract, cols: 60, rows: 8 %> </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th> <%= form.label :description %> </th>
        <td> <%= form.text_area :description, cols: 60, rows: 4 %> </td>
      </div>
    </tr>
    <tr>
      <div colspan='2'>
        <td> <%= form.submit 'Update', class: 'update btn btn-primary' %>
      </div>
    </tr>
  </table>

  </div>
<% end %>
