<div class='row'>
  <div class='col-2 left'>Title:</div>
  <div class='col-10 right title'> <%= md2html article.title %> </div>
</div>
<div class='row'>
  <div class='col-2 left'>Subtitle:</div>
  <div class='col-10 right subtitle'> <%= md2html article.subtitle %> </div>
</div>
<div class='row'>
  <div class='col-2 left'>Url:</div>
  <div class='col-10 right url'> <%= link_to article.url, article.url, {target: '_blank'}  %> </div>
</div>
<div class='row'>
  <div class='col-2 left'>Cover Image:</div>
  <div class='col-10 right cover_image_url'>
    <%= image_tag resolve_url(article.cover_image_url) if article.cover_image_url %>
  </div>
</div>
<div class='row'>
  <div class='col-2 left'>Video Url:</div>
  <div class='col-10 right video_url'>
  <%= article.video_url if article.video_url %>
  </div>
</div>
<div class='row'>
  <div class='col-2 left'>Abstract:</div>
  <div class='col-10 right abstract:'> <%= md2html article.abstract  %> </div>
</div>
<div class='row'>
  <div class='col-2 left'>Description:</div>
  <div class='col-10 right Description:'> <%= article.description  %> </div>
</div>

<%= link_to 'Edit', edit_article_path(article), remote: true, class: 'edit btn btn-primary' %>



