<p id="notice"><%= notice %></p>

<div id='article_<%= @article.id %>'>
  <%= render partial: 'show', locals: {article: @article} %>
</div>
<hr>
<div>
  <% @article.chapters.each do |chapter| %>
    <div id='chapter_<%= chapter.id %>'>
      <%= render partial: 'chapters/show', locals: {chapter: chapter} %>
    </div>
    <hr>
  <% end %>
</div>
<%= link_to 'Index', articles_path %>
