<p id="notice"><%= notice %></p>

<h1>Infos</h1>

<div class='row'>
  <% @infos.each do |info| %>
    <div class='col-1'> <%= info.article.id %> </div>
    <div class='col-6'> <%= info.article.title %> </div>
    <div class='col-1'> <%= info.role %> </div>
    <div class='col-1'> <%= info.title %> </div>
    <div class='col-1'> <%= link_to 'Show', info %> </div>
    <div class='col-1'> <td><%= link_to 'Edit', edit_info_path(info) %></div>
    <div class='col-1'> <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
</div>



<br>

<%= link_to 'New Info', new_info_path %>
